<br>
<br>
<header id="header-view" class="header-view wrapper">
    <div class="brand">
        <a href="/">
            <img src="http://static01.olx-st.com/mobile-webapp/images/desktop/logo.png">
        </a>
    </div>
    <div id="search" class="partials_search_view">
        <form action="/Ads/Search/" method="get" class="search-form">
            <fieldset>
                <input class="text-field" name="search" type="text" placeholder="¿Qué estás buscando?" tabindex="1" data-qa="search-input" value="">
                <button class="icons icon-search button" type="submit" data-qa="search-submit"></button>
            </fieldset>
        </form>
    </div>
    <h6 class="posting-title disabled">Clasificados gratis<span>donde los compradores encuentran vendedores</span></h6>
    <a href="/Ads/Create" rel="nofollow" class="posting" role="button">Publica un anuncio gratis</a>
</header>
<br>