@model IEnumerable<Ads.Common.ViewModels.CategoryViewModel>

@Html.Partial("../Ads/Search")

<div class="form-horizontal">
    <section id="category-tree">
        <div class="title-bar">
            <h2>Categorías</h2>
        </div>
        @foreach (var item in Model)
        {
            <ul class="category-list category-list-first">
                <li class="category">
                    <a class="category-link" href="/Ads/Category/@item.Id">
                        <span class="icon cat-@item.Id"></span>
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    </a>
                    <ul>
                        @foreach (var type in item.articleTypes)
                        {
                            <li><a href="/Ads/Category/@item.Id">@type.name</a></li>
                        }
                    </ul>
                </li>
            </ul>
        }
    </section>
</div>